.turquoise-flat
  %section.section
    .container.mb40
      .col-12.text-center
        %h1.heading-lrg.primary-color Build. Together.
        %h2.subheading.secondary-color.mt20 Share new project ideas and features.
        .mt40
          %a.button.mobile-text-center.mt10.mobile-text-center.accent-bg.primary-color{href: "http://ideagrid.org/signup", target: "_blank"}
            %span Get Started Now
    .container-lrg
      .col-12
        .browser.mt75
          .mask
            = image_tag("screenshot.png", alt: "Screenshot of App in Browser", class: "mask-img")
            -# %img.mask-img{alt: "Screenshot of App in Browser", src: "images/ecb61bef-c85b-41d8-a0e1-2f4b8adf4d5a.png"}/
%section#feature-1.section.turquoise-white{activepage: "Landing", sitemeta: "[object Object]"}
  .container-lrg.flex
    .col-4.text-center.flex.flex-column.center-horizontal
      %i.icon.mobile-center-icon.secondary-bg
        %svg.svg-fill{viewbox: "0 0 25 25", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M12 4a1.98 1.98 0 0 1 2-2c1.445 0 3 1.408 3 4.5a.5.5 0 0 1-.974.162A4.42 4.42 0 0 0 14 6a2.005 2.005 0 0 1-2-2zm6.5 3a.5.5 0 0 0 .5-.5c0-.413 1.39-1.5 2.5-1.5A2.506 2.506 0 0 0 24 2.5 2.445 2.445 0 0 0 21.5 0C18.398 0 18 3.474 18 6.5a.5.5 0 0 0 .5.5zm6.5 8.25c0 6.806-6.291 9.75-9.5 9.75h-5C5.43 25 0 21.082 0 15.25c0-1.59 1.291-3.409 1.861-4.134C1.288 10.35 0 8.473 0 7.063a.5.5 0 0 1 .146-.354c.983-.982 2.138-.282 2.98.227a3.247 3.247 0 0 0 1.374.595 5.977 5.977 0 0 0 1.644-.561A4 4 0 0 1 7.5 6.516a.5.5 0 0 1 .5.5c0 1.596-1.856 4.095-3.196 4.45a4.697 4.697 0 0 0 .505 2.494c.44 1.009.923 1.491 1.155 1.54.55.003 1.497-.913 2.513-1.923C11.13 11.435 14.08 8.5 18.5 8.5c2.292 0 6.5 2.563 6.5 6.75zm-5 4.25a.5.5 0 1 0-.5.5.5.5 0 0 0 .5-.5z"}
      %h3.bold.primary-color Welcoming Community
      %p.paragraph.secondary-color Discuss new ideas with a community of experts across multiple fields who are happy to help.
    .col-4.text-center.flex.flex-column.center-horizontal
      %i.icon.mobile-center-icon.secondary-bg
        %svg.svg-fill{viewbox: "0 0 22 25", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M3.5 2A1.5 1.5 0 0 0 2 3.5V22h-.5A1.5 1.5 0 0 1 0 20.5v-19A1.5 1.5 0 0 1 1.5 0h16A1.5 1.5 0 0 1 19 1.5V2H3.5zM22 4.5v19c0 .828-.672 1.5-1.5 1.5h-16c-.828 0-1.5-.672-1.5-1.5v-19C3 3.672 3.672 3 4.5 3h16c.828 0 1.5.672 1.5 1.5zm-5 8a2.493 2.493 0 0 0-4.5-1.486A2.493 2.493 0 0 0 8 12.5c0 1.77 4.044 5.538 4.5 5.5.456.038 4.5-3.73 4.5-5.5z"}
      %h3.bold.primary-color Curated Lists
      %p.paragraph.secondary-color We strive to keep idea submission quality high, and require a bit of info upfront.
    .col-4.text-center.flex.flex-column.center-horizontal
      %i.icon.mobile-center-icon.secondary-bg
        %svg.svg-fill{viewbox: "0 0 23 24", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M21.003 7.71c-.147.001-.293.017-.436.049-2.739.603-6.347 1.011-6.347 1.011a1.002 1.002 0 0 1-1.199-.98V2.08A2.082 2.082 0 0 0 10.936 0a2.147 2.147 0 0 0-2.118 1.736C8.266 4.64 6.608 8.77 4.829 9.779A1.494 1.494 0 0 0 3.522 9h-2a1.5 1.5 0 0 0-1.5 1.5v12a1.5 1.5 0 0 0 1.5 1.5h2a1.5 1.5 0 0 0 1.5-1.5v-.992l3 1.492h10.76a3.004 3.004 0 0 0 2.928-2.315A55.778 55.778 0 0 0 23 9.791a2.01 2.01 0 0 0-1.997-2.08zM4.02 15.55L4 21l.021.01v1.49a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-12a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v5.05z"}
      %h3.bold.primary-color Vote, Comment and Follow
      %p.paragraph.secondary-color Follow your favorite idea creators, contribute feedback through commenting and voting.
%section#pricing-2.section.turquoise-flat{activepage: "Landing", sitemeta: "[object Object]"}
  .container.text-center
    .col-12
      %h4.heading.primary-color Pricing
      %p.paragraph.secondary-color.mt20 Simple pricing for now
  .container.mt75
    .col-12
      .splash-card.flex.mobile-flex-wrap
        .col-6.flex.flex-column.spread.pad30
          .mb20
            %p.bold.primary-color Free
            %b.heading.primary-color $0
            %span.paragraph.secondary-color Yearly
            %ul.mt20
              %li.flex.mb20
                %svg.svg-fill.noshrink.mr20{height: "22px", version: "1.1", viewbox: "0 0 22 22", width: "22px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %g{transform: "translate(4.000000, 5.000000)"}
                    %path{d: "M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"}
                %span.span.secondary-color Unlimited Public Ideas
              %li.flex.mb20
                %svg.svg-fill.noshrink.mr20{height: "22px", version: "1.1", viewbox: "0 0 22 22", width: "22px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %g{transform: "translate(4.000000, 5.000000)"}
                    %path{d: "M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"}
                %span.span.secondary-color Single photo
              %li.flex.mb20
                %svg.svg-fill.noshrink.mr20{height: "22px", version: "1.1", viewbox: "0 0 22 22", width: "22px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %g{transform: "translate(4.000000, 5.000000)"}
                    %path{d: "M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"}
                %span.span.secondary-color Simple description
              %li.flex.mb20
                %svg.svg-fill.noshrink.mr20{height: "22px", version: "1.1", viewbox: "0 0 22 22", width: "22px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %g{transform: "translate(4.000000, 5.000000)"}
                    %path{d: "M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"}
                %span.span.secondary-color Basic tagging
          %a.button.mobile-text-center.mt10.button__full.mobile-text-center.accent-bg.primary-color{href: "http://ideagrid.org/signup", target: "_blank"}
            %span Sign Up
        .col-6.flex.flex-column.spread.pad30
          .mb20
            %p.bold.primary-color Plus (Coming Soon!)
            %b.heading.primary-color $5
            %span.paragraph.secondary-color Monthly
            %ul.mt20
              %li.flex.mb20
                %svg.svg-fill.noshrink.mr20{height: "22px", version: "1.1", viewbox: "0 0 22 22", width: "22px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %g{transform: "translate(4.000000, 5.000000)"}
                    %path{d: "M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"}
                %span.span.secondary-color Unlimited Public and Private Ideas
              %li.flex.mb20
                %svg.svg-fill.noshrink.mr20{height: "22px", version: "1.1", viewbox: "0 0 22 22", width: "22px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %g{transform: "translate(4.000000, 5.000000)"}
                    %path{d: "M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"}
                %span.span.secondary-color Team Workspaces
              %li.flex.mb20
                %svg.svg-fill.noshrink.mr20{height: "22px", version: "1.1", viewbox: "0 0 22 22", width: "22px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %g{transform: "translate(4.000000, 5.000000)"}
                    %path{d: "M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"}
                %span.span.secondary-color Roadmapping
              %li.flex.mb20
                %svg.svg-fill.noshrink.mr20{height: "22px", version: "1.1", viewbox: "0 0 22 22", width: "22px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %g{transform: "translate(4.000000, 5.000000)"}
                    %path{d: "M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"}
                %span.span.secondary-color Idea features
              %li.flex.mb20
                %svg.svg-fill.noshrink.mr20{height: "22px", version: "1.1", viewbox: "0 0 22 22", width: "22px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %g{transform: "translate(4.000000, 5.000000)"}
                    %path{d: "M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"}
                %span.span.secondary-color Multiple photo uploads
          %a.button.mobile-text-center.mt10.button__full.mobile-text-center.accent-bg.primary-color{href: "http://ideagrid.org/signup", target: "_blank"}
            %span Coming Soon
%footer#footer-3.section.text-center.turquoise-accent{activepage: "Landing", sitemeta: "[object Object]"}
  .container.col-12
    %div
      %a.socialicons.accent-bg.twitter{href: "https://twitter.com/ideagrid1", target: "_blank"}
      %a.socialicons.accent-bg.email{href: "mailto:ckahle33@gmail.com"}

