body
  font-family: 'Lato', sans-serif

nav
  border-bottom: 1px solid #eee

.brand-logo
  height: 30px
  width: 30px
  border-radius: 50%

ul
  padding: 0
  list-style: none

.card
  // margin-bottom: 1em
  // border-radius: 5px
  // padding: .5em
  border: none
  box-shadow: rgba(22, 23, 26, 0.15) 0px 4px 12px
  .price
    color: #53c753

.item-title
  font-family: 'Fredoka One', cursive

.sidebar-item
  padding: .5em 0

.navbar-brand
  font-family: 'Fredoka One', cursive
  font-size: 1.5em

.nav-item
  padding-left: 5px
  padding-right: 5px

h1, h2, h3, h4, h5, h6
  font-family: 'Fredoka One', cursive

.badge
  font-size: 1em

.item-image
  max-height: 130px
  object-fit:cover

.image-wrap
  padding: 1em 1em 0 1em

.banner
  height: 200px
  opacity: .3

.banner-wrap
  position: relative

.banner-text
  background: white
  position: absolute
  top: 34%
  padding: 1em

.card-columns
  column-count: 4
