.row
  .col-12
    %h2
      Thanks!!!!
    %h5
      You have not been charged yet, but if this drop hits the max number of purches needed, you will be charged
      = current_user.cart.total

    %h5
      We really appreciate you using Pedaldrop!
